body{
  background-color:rgb(24, 24, 153);
  color:white;
  font-family:'Poppins',sans-serif
}

* {
  margin:0;
  padding:0 
}

.left{
font-size: 30px;
 /* height:"50px";
width:'50px'; */
 margin-top: 20px; 


} 
.right{
 margin-right: 0;
 /* height:"100px"; */
/* width:'100px'; */
margin-top: 20px;


} */
nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: rgb(85, 85, 216);
}
nav ul li{
  list-style: none;
  margin: 2px 23px;
  
  
}
nav ul{
  display: flex;
justify-content:center
 
  
}
.center{
  justify-content: space-around;
  align-items: center;
  display: flex;
}